/Statycznosc/nbproject/private/
/Statycznosc/build/
/VideoKursy/nbproject/private/
/VideoKursy/build/
/Enkapsulacja/nbproject/private/
/Enkapsulacja/build/
/AAzadania/LiczbaPierwsza/nbproject/private/
/AAzadania/LiczbaPierwsza/build/
