/Statycznosc/nbproject/private/
/Statycznosc/build/
/VideoKursy/nbproject/private/
/VideoKursy/build/
/Enkapsulacja/nbproject/private/
/Enkapsulacja/build/
/AAzadania/LiczbaPierwsza/nbproject/private/
/AAzadania/LiczbaPierwsza/build/
/Referencje/nbproject/private/
/Referencje/build/
/AAzadania/DwieCyfrySilni/nbproject/private/
/AAzadania/DwieCyfrySilni/build/
/JavaApplication7/nbproject/private/
/Butelka/nbproject/private/
/Butelka/build/
/JavaApplication9/nbproject/private/
/Dziedziczenie/nbproject/private/
/Dziedziczenie/build/
/Main/nbproject/private/
/Main/build/
